<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>南酱社区--发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/jquery/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="/stylesheet" href="css/mycss.css">
    <script>
        function publish() {
            var title = $("#title").val();
            var description = $("#description").val();
            var tag = $("#tag").val();
            if (title == "") {
                alert("请输入标题");
                $(".modal fade").show();
                return false
            }
            if (description == "") {
                alert("请输入正文");
                return false;
            }
            if (tag == "") {
                alert("请输入标签");
                return false;
            }
            return true;
        }

        function tagFocus() {
            $("#selectTag").show();
        }

        function tagHide() {
            $("#selectTag").hide();
        }

        function addTag(tag) {
            var previous = $("#tag").val();
            var res;
            if (previous) {
                res = previous+","+ tag;
            } else {
                res = tag;
            }
            $("#tag").val(res);
        }
    </script>
</head>
<body style="background-color: #efefef">
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--顶部-->
<div th:insert="~{index::top}"></div>
<!--主界面-->
<div class="container-fluid" style="margin: 30px;background-color: white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <form action="/publish" method="post" id="publish" onsubmit="return publish()">
                <input type="hidden" th:value="${id}" name="id">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）:</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题....."
                           th:value="${title}" onfocus="tagHide()">
                </div>
                <div class="form-group">
                    <label for="description">问题描述:</label>
                    <textarea class="form-control" id="description" name="description" rows="20"
                              placeholder="输入问题描述....." th:text="${description}" onfocus="tagHide()"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="选择标签" th:value="${tag}"
                           onfocus="tagFocus()">
                    <div id="selectTag" style="display: none">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" style="margin-top: 10px;margin-bottom: 5px">
                            <li role="presentation" class="active"><a href="#language" aria-controls="language"
                                                                      role="tab" data-toggle="tab">开发语言</a></li>
                            <li role="presentation"><a href="#frame" aria-controls="frame" role="tab" data-toggle="tab">平台框架</a>
                            </li>
                            <li role="presentation"><a href="#service" aria-controls="service" role="tab"
                                                       data-toggle="tab">服务器</a></li>
                            <li role="presentation"><a href="#db" aria-controls="db" role="tab"
                                                       data-toggle="tab">数据库</a></li>
                            <li role="presentation"><a href="#tools" aria-controls="tools" role="tab" data-toggle="tab">开发工具</a>
                            </li>
                            <li role="presentation"><a href="#others" aria-controls="others" role="tab"
                                                       data-toggle="tab">其他</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div th:each="tagDto,tagDtoStart:${tagDtoList}" role="tabpanel"
                                 th:class="${tagDtoStart.index}==0?'tab-pane active':'tab-pane'" th:id="${tagDto.name}">
                                <span class="label label-info" th:each="tag:${tagDto.tags}"
                                      style="margin: 8px 8px 0px 0px;padding-left: 5px;padding-top: 4px;white-space: normal;display: inline-block"
                                      th:onclick="addTag([[${tag}]])">
                                     <span class="glyphicon glyphicon-tags" aria-hidden="true"><span
                                             th:text="' '+${tag}"></span></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" style="float: right;margin-bottom: 10px">发布</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南:</h3><br>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字<br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>
</body>
</html>